.popup__image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: contain;
    object-position: center;
  }
  
  @media screen and (max-width: 500px) {
    .popup__image {
      height: 299px;
    }
  }