.profile__job {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    grid-area: subname;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  @media screen and (max-width: 1024px) {
    .profile__job {
      font-size: 16px;
      line-height: 20px;
    }
  }
  
  @media screen and (max-width: 900px) {
    .profile__job {
      padding-bottom: 33px;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 450px) {
    .profile__job {
      font-size: 14px;
      line-height: 17px;
    }
  }